@page "~/details"
@model ALFASOFT.Views.ContatoViews.Details

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Contato</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.contato.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.contato.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.contato.ContatoNumero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.contato.ContatoNumero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.contato.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.contato.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.contato.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
